* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);

    margin: auto;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;

    padding: 0;
    margin: -1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    white-space: nowrap;
    border-width: 0;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;

    font-weight: normal;
}

/* ------Buttons & Links------ */
a {
    color: #49aa26;
    text-decoration: none;
}

a:hover {
    color: #3dd705;
}

.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

/* ------Header------ */

header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* ------Balances------ */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    font-weight: 100;
}

.card {
    background: white;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;   
}

.card:last-child {
    background:  #49aa26;
    color: white;
}

#data-table {
    width: 100%;

    display: block;
    
    border-spacing: 0 0.5rem;

    color: #969CB3;

    overflow-x: auto;
}

/* ------Tables------ */

table tbody tr {
    opacity: 0.6;
}

table tbody tr:hover {
    opacity: 1;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}

table th {
    background: white;

    padding: 1rem 2rem;

    font-weight: normal;
    text-align: left;
}

table td {
    background: white;

    padding: 1rem 2rem;
}  

table td.description {
    color: #363f5f;
}

table td.income {
    color: #12a454;
}

table td.expense {
    color: #e92929;
}

table tbody td:first-child,
table thead th:first-child {
    border-radius: 0.25em 0 0 0.25rem;
    -webkit-border-radius: 0.25em 0 0 0.25rem;
    -moz-border-radius: 0.25em 0 0 0.25rem;
    -ms-border-radius: 0.25em 0 0 0.25rem;
    -o-border-radius: 0.25em 0 0 0.25rem;
}

/* ------Footer------ */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: #363f5f;
}