* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);

    margin: auto;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;

    font-weight: normal;
}

header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    font-weight: 100;
}

.card {
    background: white;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;   
}

.card:last-child {
    background:  #49aa26;
    color: white;
}

#data-table {
    width: 100%;
    
    border-spacing: 0 0.5rem;

    color: #969CB3;
}

table tbody tr {
    opacity: 0.6;
}

table tbody tr:hover {
    opacity: 1;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}

table th {
    background: white;

    padding: 1rem 2rem;

    font-weight: normal;
    text-align: left;
}

table td {
    background: white;

    padding: 1rem 2rem;
}  

table td.description {
    color: #363f5f;
}

table td.income {
    color: #12a454;
}

table td.expense {
    color: #e92929;
}

table tbody td:first-child,
table thead th:first-child {
    border-radius: 0.25em 0 0 0.25rem;
    -webkit-border-radius: 0.25em 0 0 0.25rem;
    -moz-border-radius: 0.25em 0 0 0.25rem;
    -ms-border-radius: 0.25em 0 0 0.25rem;
    -o-border-radius: 0.25em 0 0 0.25rem;
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: #363f5f;
}